
@{
    ViewBag.Title = "cs文件生成工具";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="pad margin no-print">
    <div class="callout callout-danger" style="margin-bottom: 0!important;">
        <h4><i class="fa fa-hacker-news"></i> &nbsp;cs文件文件生成工具</h4>
        待开发
    </div>
</div>
<section class="invoice">
    <div class="row">
       
    </div>
</section>
<script src="~/Content/js/jquery.min.js"></script>