<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/admintle.min.css">
    <link rel="stylesheet" href="~/Content/css/skins.min.css">
    <link rel="stylesheet" href="~/Content/js/icheck/all.css">
    <link rel="stylesheet" href="~/Content/js/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="~/Content/js/bootstrap-table/bootstrao-table-check.css">
    <link rel="stylesheet" href="~/Content/js/pace/pace.min.css">
</head>
<body class="hold-transition skin-purple sidebar-mini fixed">
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>D</b>B</span>
                <span class="logo-lg"><b>DB</b>Center</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>


                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-refresh"></i>F5</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i>源码获取</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/images/boy.svg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>小二</p>
                        <a href="javascript:;"><i class="fa fa-circle text-success"></i> 在线</a>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="header">主菜单</li>
                    <li><a href="/Home/Index"><i class="fa fa-circle-o text-red"></i><span>数据库配置</span></a></li>
                    <li><a href="/Home/Query"><i class="fa fa-circle-o text-yellow"></i><span>表字段查询</span></a></li>
                    <li><a href="/Home/SqlTools"><i class="fa fa-circle-o text-aqua"></i><span>Sql脚本工具箱</span></a></li>
                    <li><a href="/Home/CsTools"><i class="fa fa-circle-o text-green"></i><span>代码生成工具箱</span></a></li>
                </ul>
            </section>
        </aside>

        <div class="content-wrapper">
            @RenderBody()
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                adminTle V1.0
            </div>
            <strong>Copyright &copy; 2018 <a href="#">杨隆健</a>.</strong> All rights reserved.
        </footer>
    </div>

    <!--弹窗 start-->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <i class="fa fa-cloud-download"></i>&nbsp;&nbsp;SVN：https://drp-xuwx/svn/DBCenter
            </div>
        </div>
    </div>
    <!--弹窗 end-->

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.slimscroll.min.js"></script>
    <script src="~/Content/js/fastclick.js"></script>
    <script src="~/Content/js/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Content/js/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/Content/js/layer/layer.js"></script>
    <script src="~/Content/js/icheck/icheck.min.js"></script>
    <script src="~/Content/js/adminlte.min.js"></script>
    <script src="~/Content/js/yang.common.js"></script>
    <script src="~/Content/js/pace/pace.min.js"></script>
</body>
</html>


