
@{
    ViewBag.Title = "数据表查询";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="pad margin no-print">
    <div class="callout callout-success" style="margin-bottom: 0!important;">
        <h4><i class="fa fa-info"></i>  欢迎登录数据库查询中心:</h4>
        仅为提高工作效率而写
    </div>
</div>
<section class="invoice">
    <div class="panel-body" style="padding-bottom: 0px; padding: 0px;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="margin-top: 15px">
                    <label class="control-label col-sm-1" for="txt_search_table_name">表名称</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="tablename">
                    </div>
                    <div class="col-sm-3">
                        <button type="button" id="btnQuery" class="btn btn-primary">查询</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <button id="btnBatchModel" type="button" class="btn bg-purple">
                    <span class="fa fa-gears"></span>&nbsp;生成cs模型文件
                </button>
                <button id="btnAllModel" type="button" class="btn bg-purple">
                    <span class="fa fa-gears"></span>&nbsp;全部生成cs模型文件
                </button>
                <button id="btnAllService" type="button" class="btn bg-purple">
                    <span class="fa fa-gears"></span>&nbsp;全部生成cs仓储文件
                </button>
                <button id="btnSetConfig" type="button" class="btn bg-navy">
                    <span class="fa fa-gears"></span>&nbsp;配置cs文件命名空间
                </button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <table id="datagrid"></table>
            </div>
        </div>
    </div>
</section>
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/ViewScripts/query.js"></script>

