
@{
    ViewBag.Title = "Sql脚本工具";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="pad margin no-print">
    <div class="callout callout-warning" style="margin-bottom: 0!important;">
        <h4><i class="fa fa-hacker-news"></i> &nbsp;脚本生成工具箱</h4>
        <i class="fa fa-warning"></i>&nbsp;温馨提示：固定字段： Id / AddTime / ModifyTime 自动生成无需重复创建,字段类型输入正常的格式（例：int/tinyint/varchar(50)/datetime）
    </div>
</div>
<section class="invoice">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tables" aria-controls="tables" role="tab" data-toggle="tab">创建表脚本</a></li>
                <li role="presentation"><a href="#fields" aria-controls="fields" role="tab" data-toggle="tab">新增字段脚本</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tables">
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" onclick="Build()" class="btn btn-success btn-sm">一键生成脚本</button>
                            <button type="button" onclick="SqlView()" class="btn btn-primary btn-sm">创建表示例模板</button>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-table"></i>
                                </div>
                                <input type="text" class="form-control" id="txtTableName" style="width: 200px;" placeholder="创建的表名">
                                <input type="text" class="form-control" id="txtTableDesc" style="width: 220px;" placeholder="表的描述">
                                <input type="text" class="form-control" id="txtTableIndex" style="width: 220px;" placeholder="索引名">
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-title">
                                表结构&nbsp;&nbsp;
                                <a class="btn btn-primary" id="btnAddColumn" onclick="AddTr('tb', -1)"><i class="fa  fa-plus-square-o"> 新增字段</i></a>
                                <a class="btn btn-primary" id="btnDelColumn" onclick="delTr()"><i class="fa fa-minus-square-o"> 删除字段</i></a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <table id="tb" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>字段名&nbsp;<span class="text-red">&nbsp;*</span></th>
                                        <th>数据类型&nbsp;<span class="text-red">&nbsp;*</span></th>
                                        <th>字段描述&nbsp;<span class="text-red">&nbsp;*</span></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="fields">
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" onclick="Build2() " class="btn btn-success btn-sm">一键生成脚本</button>
                            <button type="button" onclick="SqlView2()" class="btn btn-primary btn-sm">新增表字段示例模板</button>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-table"></i>
                                    </div>
                                    <input type="text" class="form-control" id="alterTableName" style="width: 200px;" placeholder="要修改的表名称">
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-title">
                                    表结构&nbsp;&nbsp;
                                    <a class="btn btn-primary" id="btnAddColumn1" onclick="AddTr('tb1')"><i class="fa  fa-plus-square-o"> 字段新增</i></a>
                                    <a class="btn btn-primary" id="btnDelColumn1" onclick="delTr()"><i class="fa  fa-minus-square-o"> 删除字段</i></a>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <table id="tb1" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>字段名&nbsp;<span class="text-red">&nbsp;*</span></th>
                                            <th>数据类型&nbsp;<span class="text-red">&nbsp;*</span></th>
                                            <th>字段描述&nbsp;<span class="text-red">&nbsp;*</span></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/ViewScripts/sqltools.js"></script>

