


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
    <title>数据库查询中心</title>
    <link href="/UIContent/css/root.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Scripts/Sql.js"></script>
    <script type="text/javascript">

        $(function () {
            LogVis("DBSet/DBSetIndex.cshtml");
            //初始化数据
            init();

            //数据库连接测试
            ConnectedTest();

            //数据库参数保存
            SaveCurrentDBSet();
        });

        //初始化数据
        function init() {
            $.getJSON("/DBSet/GetCurrentUseDBName", "", function (data) {
                $("#spCurrentUseDBName").text(data.name);
            });
        }

        //数据库连接测试
        function ConnectedTest() {
            $("#btnConectedTest").click(function () {
                if ($("#inp_DBName").val() == "" || $("#inp_DBLoginName").val() == "" || $("#inp_DBPwd").val() == "" || $("#inp_DBServer").val()=="") {
                    $("#divErrMsg").show();
                    $("#spanErrorMsg").text("参数填写不完整");
                    return false;
                } else {
                    $("#divErrMsg").hide();
                }

                var postData = {
                    dbUserId: $("#inp_DBLoginName").val(),
                    dbPwd: $("#inp_DBPwd").val(),
                    dbServer: $("#inp_DBServer").val()
                };
                $.getJSON("/DBSet/ConnectedTest", postData, function (con) {
                    if (con.con) {
                        $("#divErrMsg").hide();
                        $("#divSuccessMsg").show();
                        LoadCurrentSysDBs(JSON.parse(con.dbs));
                    } else {
                        $("#divSuccessMsg").hide();
                        $("#divErrMsg").show();                       
                        $("#spanErrorMsg").text(con.err);
                    }
                });
            });
            
        }

        //初始化当前服务器下的所有数据库名称
        function LoadCurrentSysDBs(json) {
            $("#selDBS").html("");
            $("#selDBS").append("<option value='-1'>--请选择数据库--</option>");

            for (var i = 0; i < json.Table.length; i++) 
                $("#selDBS").append("<option>" + json.Table[i].Name + "</option>");
        }

        //保存当前数据库配置
        function SaveCurrentDBSet() {
            $("#btnSave").click(function () {
                try {
                    var isCon = $("#selDBS").val();
                    if (isCon == "-1") {
                        $("#divDBSaveErr").show();
                        $("#spanDBSaveErr").text("数据库名称未选择。 err：可能未进行连接测试");
                        return;
                    } else { $("#spanDBSaveErr").hide(); }

                    var postData = {
                        server: $("#inp_DBServer").val(),
                        dbName: isCon,
                        loginId: $("#inp_DBLoginName").val(),
                        loginPwd: $("#inp_DBPwd").val()
                    }

                    $.getJSON("/DBSet/SaveChanges", postData, function (msg) {
                        if (msg.success) {
                            alert("保存成功");
                        } else {
                            alert("保存失败");
                        }
                    });
                } catch (e) {
                    console.log(e.message);
                }
               
            });
        }
    </script>
</head>
<body>
    <div class="loading"><img src="/UIContent/img/loading.gif" alt="loading-img"></div>
    <div id="top" class="clearfix">

        <div class="applogo">
            <a href="/Query/Index" class="logo">DB Center</a>
        </div>

        <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
        <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>

        <ul class="top-right"></ul>
        <!-- Start 下载窗 -->
        <form class="searchform">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">源码获取</button>
        </form>

    </div>

    <div class="sidebar clearfix">
        <ul class="sidebar-panel nav">
            <li class="sidetitle">主菜单</li>
            <li>
                <a href="/Query/Index"><span class="icon color5"><i class="fa fa-th"></i></span>表字段查询</a>
                <a href="/DBSet/DBSetIndex"><span class="icon color5"><i class="fa fa-database"></i></span>数据库配置</a>
                <a href="/Tools/ToolsIndex"><span class="icon color5"><i class="fa fa-hacker-news"></i></span>脚本工具箱</a>
            </li>
        </ul>
    </div>

    <div class="content">

        <!-- Start Presentation -->
        <div class="row presentation">

            <div class="col-lg-8 col-md-6 titles">
                <span class="icon color9-bg"><i class="fa fa-database"></i></span>
                <h1>数据库配置</h1>
                <h4>自定义配置你所要查询的数据库</h4>
            </div>

            <div class="col-lg-4 col-md-6">
                <ul class="list-unstyled list">
                    <li><i class="fa fa-check"></i>自定义配置连接
                    <li><i class="fa fa-check"></i>可视化查询
                    <li><i class="fa fa-check"></i>MS SQL SERVER 2008
                </ul>
            </div>

        </div>
        <!-- End Presentation -->
        <div class="container-padding">

            <!-- Start Row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-title">
                            配置窗口
                            <ul class="panel-tools">
                                <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                                <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                            </ul>
                        </div>

                        <div class="panel-body">

                            <form class="form-horizontal" id="dbParams">
                                
                                <!--保存失败 start-->
                                <div class="alert alert-warning alert-dismissible" role="alert" id="divDBSaveErr" style="display:none">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>连接失败！</strong> <span id="spanDBSaveErr"></span>
                                </div>
                                <!--保存失败 end-->

                                <!--连接成功 start-->
                                <div class="alert alert-info" role="alert" id="divSuccessMsg" style="display:none;">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>连接成功！</strong> <span id="spanSuccessMsg">可以点击保存配置开始进行数据库操作啦！</span>
                                </div>
                                <!--连接成功 end-->

                                <!--连接失败 start-->
                                <div class="alert alert-warning alert-dismissible" role="alert" id="divErrMsg" style="display:none">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>连接失败！</strong> <span id="spanErrorMsg"></span>
                                </div>
                                <!--连接失败 end-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label form-label">当前使用数据库</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static"><span id="spCurrentUseDBName"></span></p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputAmount2" class="col-sm-2 control-label form-label">服务器地址</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-server"></i></div>
                                            <input type="text" class="form-control" id="inp_DBServer" placeholder="如：127.0.0.1">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputAmount2" class="col-sm-2 control-label form-label">数据库名称</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-database"></i></div>
                                            <select id="selDBS" style="width:100%;text-align:center;" >
                                                <option value="-1">--请选择数据库--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputAmount2" class="col-sm-2 control-label form-label">登录名</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <input type="text" class="form-control" id="inp_DBLoginName" placeholder="数据库登录名">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputAmount2" class="col-sm-2 control-label form-label">密码</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-circle"></i></div>
                                            <input type="password" class="form-control" id="inp_DBPwd" placeholder="数据库登录密码">
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group" style="text-align:center;">
                                    <a class="btn" id="btnConectedTest"><i class="fa fa-bug"> 连接测试</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a class="btn" id="btnSave"><i class="fa fa-save"> 保存配置</i></a>
                                </div>

                                
                            </form>

                        </div>

                    </div>
                </div>

            </div>
            <!-- End Row -->
        </div>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <i class="fa fa-cloud-download"></i>&nbsp;&nbsp;SVN：https://drp-xuwx/svn/DBCenter
                </div>
            </div>
        </div>


        <script src="/UIContent/js/jquery.min.js"></script>
        <script src="/UIContent/js/bootstrap/bootstrap.min.js"></script>
       


        <script type="text/javascript" src="/UIContent/js/plugins.js"></script>

        <script type="text/javascript" src="/UIContent/js/bootstrap-select/bootstrap-select.js"></script>

        <script type="text/javascript" src="/UIContent/js/bootstrap-toggle/bootstrap-toggle.min.js"></script>

        

        

        

        


        
    </div>

</body>
</html>
