
@{
    ViewBag.Title = "Query";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
    <title>数据库查询中心</title>
    <link href="/UIContent/css/root.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Scripts/Sql.js"></script>
    <script type="text/javascript">
        $(function () {
            LogVis("Query/Index.cshtml");
            Query();
            
        });

        function Query() {
            $("#btnQuery").click(function () {
                $.ajax({
                    url: "/Query/GetQueryJson",
                    data: { key: $("#inpTableName").val() },
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        $("#tbody").html("");
                        var json = JSON.parse(data);
                        for (var i = 0; i < json.Table.length; i++) {
                            var strTr = "<tr>";
                            strTr += "<td>" + json.Table[i].字段名 + "</td>";
                            strTr += "<td>" + json.Table[i].字段类型 + "</td>";
                            strTr += "<td>" + json.Table[i].可否为空 + "</td>";
                            strTr += "<td>" + json.Table[i].是否主键 + "</td>";
                            strTr += "<td>" + json.Table[i].自动增长 + "</td>";
                            strTr += "<td>" + json.Table[i].占用字节 + "</td>";
                            strTr += "<td>" + json.Table[i].长度 + "</td>";
                            strTr += "<td>" + json.Table[i].小数位数 + "</td>";
                            strTr += "<td>" + json.Table[i].默认值 + "</td>";
                            strTr += "<td>" + json.Table[i].字段描述 + "</td>";
                            strTr += "</tr>";
                            $("#tbody").append(strTr);
                        }
                    }
                });
            });

        }
    </script>
</head>
<body>
    <div class="loading"><img src="/UIContent/img/loading.gif" alt="loading-img"></div>
    <div id="top" class="clearfix">

        <div class="applogo">
            <a href="/Query/Index" class="logo">DB Center</a>
        </div>

        <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
        <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>

        <ul class="top-right"></ul>

        <!-- Start 下载窗 -->
        <form class="searchform">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">源码获取</button>
        </form>

       
        <!-- End   下载窗 -->
    </div>
  
    <div class="sidebar clearfix">
        <ul class="sidebar-panel nav">
            <li class="sidetitle">主菜单</li>
            <li>
                <a href="/Query/Index"><span class="icon color5"><i class="fa fa-th"></i></span>表字段查询</a>
                <a href="/DBSet/DBSetIndex"><span class="icon color5"><i class="fa fa-database"></i></span>数据库配置</a>
                <a href="/Tools/ToolsIndex"><span class="icon color5"><i class="fa fa-hacker-news"></i></span>脚本工具箱</a>
            </li>
        </ul>
    </div>

    <div class="content">

        <div class="page-header">
            <h1 class="title">欢迎登录数据库查询中心</h1>
            <ol class="breadcrumb">
                <li class="active">仅为提高工作效率而写</li>
            </ol>

            <div class="right">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="/Query/Index" class="btn btn-light">F5</a>
                </div>
            </div>

        </div>

        <div class="form-group" style="margin-left:-25px">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" style="width:250px;" id="inpTableName" placeholder="请输入要查询的表名">
                    </div>
                </div>
                <button type="button" id="btnQuery" class="btn btn-default">查询</button>
            </form>
        </div>

        <table class="table table-bordered" style="margin-left:-25px;">
            <thead>
                <tr>
                    <th style="width: 10%;text-align:center;">字段名</th>
                    <th style="width: 10%; text-align: center;">字段类型</th>
                    <th style="width: 10%; text-align: center;">是否为空</th>
                    <th style="width: 10%; text-align: center;">是否主键</th>
                    <th style="width: 10%; text-align: center;">自动增长</th>
                    <th style="width: 10%; text-align: center;">占用字符</th>
                    <th style="width: 10%; text-align: center;">长度</th>
                    <th style="width: 10%; text-align: center;">小数位数</th>
                    <th style="width: 10%; text-align: center;">默认值</th>
                    <th style="width: 10%; text-align: center;">字段描述</th>
                </tr>
            </thead>
            <tbody id="tbody" style="text-align: center;"></tbody>
        </table>

        <div class="row footer">
            <div class="col-md-12 text-left">
                仅供公司内部开发人员进行查询
            </div>
        </div>


    </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <i class="fa fa-cloud-download"></i>&nbsp;&nbsp;SVN：https://drp-xuwx/svn/DBCenter
            </div>
        </div>
    </div>


    <script src="/UIContent/js/jquery.min.js"></script>
    <script src="/UIContent/js/bootstrap/bootstrap.min.js"></script>


    <script type="text/javascript" src="/UIContent/js/plugins.js"></script>

    <script type="text/javascript" src="/UIContent/js/bootstrap-select/bootstrap-select.js"></script>

    <script type="text/javascript" src="/UIContent/js/bootstrap-toggle/bootstrap-toggle.min.js"></script>

</body>
</html>


