
@{
    ViewBag.Title = "SqlTools";
}



<script>
    //                            _ooOoo_
    //                           o8888888o
    //                           88" . "88
    //                           (| -_- |)
    //                            O\ = /O
    //                        ____/`---'\____
    //                      .   ' \\| |// `.
    //                       / \\||| : |||// \
    //                     / _||||| -:- |||||- \
    //                       | | \\\ - /// | |
    //                     | \_| ''\---/'' | |
    //                      \ .-\__ `-` ___/-. /
    //                   ___`. .' /--.--\ `. . __
    //                ."" '< `.___\_<|>_/___.' >'"".
    //               | | : `- \`.;`\ _ /`;.`/ - ` : | |
    //                 \ \ `-. \_ __\ /__ _/ .-` / /
    //         ======`-.____`-.___\_____/___.-`____.-'======
    //                            `=---='
    //
    //         .............................................
    //                  佛祖保佑             永无BUG
    //          佛曰:
    //                  写字楼里写字间，写字间里程序员；
    //                  程序人员写程序，又拿程序换酒钱。
    //                  酒醒只在网上坐，酒醉还来网下眠；
    //                  酒醉酒醒日复日，网上网下年复年。
    //                  但愿老死电脑间，不愿鞠躬老板前；
    //                  奔驰宝马贵者趣，公交自行程序员。
    //                  别人笑我忒疯癫，我笑自己命太贱；
    //                  不见满街漂亮妹，哪个归得程序员？
</script>
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数据库查询中心</title>
    <link href="/UIContent/css/root.css" rel="stylesheet">
    <link href="/css/prism.css" rel="stylesheet"/>
    <script src="/Scripts/jquery-1.8.2.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Scripts/prism.js"></script>
    <script src="/Scripts/Sql.js"></script>
    <style type="text/css">
        th {
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        function AddTr(tab, row) {
            var trHtml = "<tr align='center'>" +
                "<td width='10%'><input type='checkbox' name='ckb'/></td>" +
                "<td width='20%'><input type='text' name='f_name'/></td>" +
                "<td width='27%'><input type='text' name='f_length'/></td>" +
                "<td width='27%'><input type='text' name='f_desc'/></td></tr>";
            AddTr2(tab, row, trHtml);
        }

        function AddTr2(tab, row, trHtml) {
            var $tr = $("#" + tab + " tr").eq(row);
            if ($tr.size() == 0) {
                alert("指定的table id或行数不存在！");
                return;
            }
            $tr.after(trHtml);
        }
        //changes
        //数据类型关键字过滤
        var keyFilter = "int|decimal|tinyint|money|long|bigint|byte|short|char|decimal(19,5)|decimal(18,2)";

        //生成
        function Build() {
            $("#spWinTitle").text("SQL脚本预览窗口");
            var sqlBody = "";
            sqlBody = "<pre><code class=\"language-sql\">IF NOT EXISTS (select * from sysobjects where id = object_id(N'[" + $("#inpTableName").val() + "]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)  <br/>";
            sqlBody += "Begin<br/>";
            sqlBody += " Create table " + $("#inpTableName").val() + "<br/>(<br/>";
            sqlBody += "&nbsp;&nbsp;&nbsp;Id int Identity(1,1) NOT NULL,<br/>";
            var excute = "";
            excute = "EXECUTE sp_addextendedproperty N'MS_Description', '" + $("#inpTableDesc").val() + "', N'user', N'dbo', N'table', N'" + $("#inpTableName").val() + "', NULL, NULL <br/>";
            excute += "EXECUTE sp_addextendedproperty N'MS_Description', '主键ID', N'user', N'dbo', N'table', N'" + $("#inpTableName").val() + "', N'column', N'Id' <br/>";

            var index = "";
            index = "Create Index Ix_" + $("#inpTableName").val() + "_" + $("#inpIndexName").val() + "  On " + $("#inpTableName").val() + "(" + $("#inpIndexName").val() + ");<br/>";
            index += "END ";
            var sqlFoot = "";
            var defaultvalue = "";
            $("#tb").find("tr").each(function() {
                var tds = $(this).children();
                var name = tds.eq(1).find("input").val();
                var type = tds.eq(2).find("input").val();
                var desc = tds.eq(3).find("input").val();
                if (name != undefined) {
                    if (type.toLowerCase() == "datetime") {
                        defaultvalue = "getdate()";
                    } else if (keyFilter.indexOf(type.toLowerCase()) == -1) {
                        defaultvalue = "''";
                    } else {
                        defaultvalue = "0";
                    }
                    sqlBody += "&nbsp;&nbsp;&nbsp;" +
                        name
                        + " "
                        + type + " Constraint DF_" + $("#inpTableName").val() + "_"
                        + name + " default(" + defaultvalue + ") NOT NULL,<br/>";

                    excute += "EXECUTE sp_addextendedproperty N'MS_Description', '" + desc + "', N'user', N'dbo', N'table', N'" + $("#inpTableName").val() + "', N'column', N'" + name + "' <br/>";
                }
            });
            //sqlBody = sqlBody.substring(0, sqlBody.length - 1);
            sqlBody += "&nbsp;&nbsp;&nbsp;AddTime DateTime Constraint DF_" + $("#inpTableName").val() + "_AddTime default(getdate()) NOT NULL,<br/>";
            sqlBody += "&nbsp;&nbsp;&nbsp;ModifyTime DateTime Constraint DF_" + $("#inpTableName").val() + "_ModifyTime default(getdate()) NOT NULL,<br/>";
            sqlBody += "CONSTRAINT [PK_" + $("#inpTableName").val() + "] PRIMARY KEY CLUSTERED <br/>";
            sqlBody += "(<br/>";
            sqlBody += "&nbsp;&nbsp;&nbsp;[Id] ASC<br/>";
            sqlBody += ")WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]";

            excute += "EXECUTE sp_addextendedproperty N'MS_Description', '添加时间', N'user', N'dbo', N'table', N'" + $("#inpTableName").val() + "', N'column', N'AddTime' <br/>";
            excute += "EXECUTE sp_addextendedproperty N'MS_Description', '修改时间', N'user', N'dbo', N'table', N'" + $("#inpTableName").val() + "', N'column', N'ModifyTime' <br/>";
            sqlBody += "<br/>)ON [PRIMARY]<br/>";

            $("#spCreateSql").html(sqlBody + excute + "<br/>" + index + " </code></pre>");
        }

        function delTr2() {
            delTr('ckb');
        }

        function delTr(ckb) {
            //获取选中的复选框，然后循环遍历删除
            var ckbs = $("input[name=" + ckb + "]:checked");
            if (ckbs.size() == 0) {
                alert("没有可选中行");
                return;
            }
            ckbs.each(function() {
                $(this).parent().parent().remove();
            });
        }

        function SqlView() {
            $("#spWinTitle").text("创建表示例");
            var head = " <pre><code class=\"language-sql\">";
            var sql = "";
            sql += "--创建表示例<br/>";
            sql += "--1.  必须有主键Id字段.<br/>";
            sql += "--2. 原则上字段要加默认值,default(''),数值为default(0),所有字段的值不允许为NULL.除非某些特例，比如时间。<br/>";
            sql += "--3. 字段默认值约束要加约束名,格式为DF_表名_字段名.<br/>";
            sql += "--4. 表的描述和字段描述都要写清楚.<br/>";
            sql += "--5. 适当创建索引,格式为Ix_表名_字段名.比如,外键一定要加索引.<br/>";
            sql += "--6.  AddTime,ModifyTime字段一定要有,最后修改时间字段看具体情况可选择性添加.<br/>";
            sql += "IF NOT EXISTS (select * from sysobjects where id = object_id(N'[ReportTask]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)  <br/>";
            sql += "Begin <br/>";
            sql += "Create table ReportTask<br/>";
            sql += "(<br/>";
            sql += "Id int Identity(1,1) NOT NULL,<br/>";
            sql += "FxsNo varchar(20) Constraint DF_ReportTask_FxsNo default(''),<br/>";
            sql += "EShopId int Constraint DF_ReportTask_EShopId default(0),<br/>";
            sql += "Status int Constraint DF_ReportTask_Status default(0),<br/>";
            sql += "AddTime DateTime Constraint DF_ReportTask_AddTime default(getdate()),<br/>";
            sql += "ModifyTime DateTime Constraint DF_ReportTask_ModifyTime default(getdate()),<br/>";
            sql += " CONSTRAINT [PK_ReportTask] PRIMARY KEY CLUSTERED<br/>";
            sql += "(<br/>";
            sql += "&nbsp;&nbsp;&nbsp;[Id] ASC<br/>";
            sql += ")WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]<br/>";
            sql += "<br/>) ON [PRIMARY]";

            var sql2 = "<br/>EXECUTE sp_addextendedproperty N'MS_Description', '亚马逊报告任务表', N'user', N'dbo', N'table', N'ReportTask', NULL, NULL  --表名<br/> " +
                "EXECUTE sp_addextendedproperty N'MS_Description', '主键ID', N'user', N'dbo', N'table', N'ReportTask', N'column', N'Id'<br/> " +
                "EXECUTE sp_addextendedproperty N'MS_Description', '分销商编号', N'user', N'dbo', N'table', N'ReportTask', N'column', N'FxsNo' <br/>" +
                "EXECUTE sp_addextendedproperty N'MS_Description', '店铺ID', N'user', N'dbo', N'table', N'ReportTask', N'column', N'EShopId'<br/> " +
                "EXECUTE sp_addextendedproperty N'MS_Description', '报告请求状态 默认：0：已提交 1：已完成 2：已失败', N'user', N'dbo', N'table', N'ReportTask', N'column', N'Status'<br/> " +
                "EXECUTE sp_addextendedproperty N'MS_Description', '添加时间', N'user', N'dbo', N'table', N'ReportTask', N'column', N'AddTime'<br/>" +
                "EXECUTE sp_addextendedproperty N'MS_Description', '最后修改时间', N'user', N'dbo', N'table', N'ReportTask', N'column', N'ModifyTime'";
            var index = "<br/>--创建索引<br/>Create Index Ix_ReportTask_EShopId  On ReportTask(EShopId);<br/>";
            index += "END ";
            var foot = " </code></pre>";
            $("#spCreateSql").html(head + sql + sql2 + index + foot);
        }

        function SqlView2() {
            $("#spWinTitle").text("增加字段示例");
            var head = " <pre><code class=\"language-sql\">";
            var sql = "";
            sql += "--增加字段示例<br/>";
            sql += "--1. 原则上字段要加默认值,字符串为default(''),数值为default(0),所有字段的值不允许为NULL.除非某些特例，比如时间。<br/>";
            sql += "--2. 字段默认值约束要加约束名,格式为DF_表名_字段名.<br/>";
            sql += "--3. 表的描述和字段描述都要写清楚.<br/>";
            sql += "--4. 添加的字段最好设置为Not NULL,不然又要写个SQL语句去更新NULL的值。<br/>";
            sql += "ALTER TABLE 表名  ADD 列名 字段类型 NOT NULL CONSTRAINT [DF_表名_列名] default(默认值) ;<br/>";

            var sql2 = "<br/>EXEC sys.sp_addextendedproperty &#64;name=N'MS_Description', &#64;value=N'字段描述' ,&#64;level0type=N'SCHEMA',&#64;level0name=N'dbo', &#64;level1type=N'TABLE',&#64;level1name=N'表名',&#64;level2type=N'COLUMN',&#64;level2name=N'字段名'";
            var foot = " </code></pre>";
            $("#spCreateSql").html(head + sql + sql2 + foot);
        }


        function Build2() {
            $("#spWinTitle").text("SQL脚本预览窗口");
            var tblName = $("#inpAlterTableName").val();
            var sqlBody = "";

            var excute = "";

            var sqlFoot = "";
            var defaultvalue = "";
            $("#tb1").find("tr").each(function() {
                var tds = $(this).children();
                var name = tds.eq(1).find("input").val();
                var type = tds.eq(2).find("input").val();
                var desc = tds.eq(3).find("input").val();
                if (name != undefined) {
                    if (type.toLowerCase() == "datetime") {
                        defaultvalue = "getdate()";
                    } else if (keyFilter.indexOf(type.toLowerCase()) == -1) {
                        defaultvalue = "''";
                    } else {
                        defaultvalue = "0";
                    }
                    sqlBody += "Alter Table " + tblName + " Add " + name + " " + type + "  NOT NULL CONSTRAINT [DF_" + tblName + "_" + name + "] default(" + defaultvalue + ");<br/>";

                    excute += "EXEC sys.sp_addextendedproperty &#64;name=N'MS_Description',&#64;value=N'" + desc + "' , &#64;level0type=N'SCHEMA',&#64;level0name=N'dbo', &#64;level1type=N'TABLE',&#64;level1name=N'" + tblName + "', &#64;level2type=N'COLUMN',&#64;level2name=N'" + name + "'<br/>";
                }
            });


            $("#spCreateSql").html(sqlBody + excute + "<br/>");
        }
    </script>

</head>
<body>
<div class="loading"><img src="/UIContent/img/loading.gif" alt="loading-img">
</div>
<div id="top" class="clearfix">

    <div class="applogo">
        <a href="/Query/Index" class="logo">DB Center</a>
    </div>

    <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
    <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>

    <ul class="top-right"></ul>
    <!-- Start 下载窗 -->
    <form class="searchform">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">源码获取</button>
    </form>

</div>

<div class="sidebar clearfix">
    <ul class="sidebar-panel nav">
        <li class="sidetitle">主菜单</li>
        <li>
            <a href="/Query/Index"><span class="icon color5"><i class="fa fa-th"></i></span>表字段查询</a>
            <a href="/DBSet/DBSetIndex"><span class="icon color5"><i class="fa fa-database"></i></span>数据库配置</a>
            <a href="/Tools/ToolsIndex"><span class="icon color5"><i class="fa fa-hacker-news"></i></span>脚本工具箱</a>
        </li>
    </ul>
</div>

<div class="content">

<div class="container-padding">

    <!-- Start Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-title">
                    <i class="fa fa-hacker-news"></i>&nbsp;脚本生成工具箱
                    <ul class="panel-tools">
                        <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                        <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                    </ul>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal" id="dbParams">
                        <div>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">创建表脚本</a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">新增字段脚本</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div>
                                        <button type="button" onclick=" Build(); " class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal1">
                                            一键生成脚本
                                        </button>
                                        <button type="button" onclick=" SqlView(); " class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal1">
                                            创建表示例模板
                                        </button>
                                        &nbsp; &nbsp; &nbsp;<i class="fa fa-warning"></i>&nbsp;温馨提示：固定字段： Id / AddTime / ModifyTime 自动生成无需重复创建
                                    </div>
                                    <hr/>
                                    <div>
                                        <div class="form-group">

                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-table"></i>
                                                    </div>
                                                    <input type="text" class="form-control" id="inpTableName" style="width: 200px;" placeholder="创建的表名">
                                                    <input type="text" class="form-control" id="inpTableDesc" style="width: 220px;" placeholder="表的描述">
                                                    <input type="text" class="form-control" id="inpIndexName" style="width: 220px;" placeholder="索引名">
                                                </div>
                                            </div>
                                        </div>
                                        <!--自动生成创建表SQL Script start-->
                                        <div class="panel panel-default">
                                            <div class="panel-title">
                                                表结构&nbsp;&nbsp;
                                                <a class="btn" id="btnAddColumn" onclick=" AddTr('tb', -1) "><i class="fa  fa-plus-square-o"> 字段新增</i></a>
                                                <a class="btn" id="btnDelColumn" onclick=" delTr2() "><i class="fa  fa-minus-square-o"> 删除字段</i></a>
                                            </div>

                                            <div class="panel-body">
                                                <table id="tb" class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>字段名</th>
                                                        <th>数据类型</th>
                                                        <th>字段描述</th>
                                                    </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                        <!--自动生成创建表SQL Script end-->
                                    </div>
                                </div>
                                <!--新增表字段 start-->
                                <div role="tabpanel" class="tab-pane" id="messages">
                                    <div>
                                        <button type="button" onclick=" Build2(); " class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal1">
                                            一键生成脚本
                                        </button>
                                        <button type="button" onclick=" SqlView2(); " class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal1">
                                            新增表字段示例模板
                                        </button>

                                    </div>
                                    <hr/>
                                    <div>
                                        <div class="form-group">

                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="fa fa-table"></i>
                                                    </div>
                                                    <input type="text" class="form-control" id="inpAlterTableName" style="width: 200px;" placeholder="要修改的表名称">
                                                </div>
                                            </div>
                                        </div>
                                        <!--自动生成创建表SQL Script start-->
                                        <div class="panel panel-default">
                                            <div class="panel-title">
                                                表结构&nbsp;&nbsp;
                                                <a class="btn" id="btnAddColumn1" onclick=" AddTr('tb1', -1) "><i class="fa  fa-plus-square-o"> 字段新增</i></a>
                                                <a class="btn" id="btnDelColumn1" onclick=" delTr2() "><i class="fa  fa-minus-square-o"> 删除字段</i></a>
                                            </div>

                                            <div class="panel-body">
                                                <table id="tb1" class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>字段名</th>
                                                        <th>数据类型</th>
                                                        <th>字段描述</th>
                                                    </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                        <!--自动生成创建表SQL Script end-->
                                    </div>
                                </div>
                                <!--新增表字段 end-->
                            </div>

                        </div>

                    </form>
                </div>

            </div>
        </div>

    </div>
    <!-- End Row -->
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <i class="fa fa-cloud-download"></i>&nbsp;&nbsp;SVN：https://drp-xuwx/svn/DBCenter
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1"><i class="fa fa-code"></i>&nbsp;<span id="spWinTitle">SQL脚本预览窗口</span> </h4>
            </div>
            <div class="modal-body">
                <span id="spCreateSql">
                        </span>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<!-- 创建表脚本 start -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">创建表脚本</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">放弃生成</button>
                <button type="button" class="btn btn-primary">一键生成</button>
            </div>
        </div>
    </div>
</div>
<!-- 创建表脚本 end -->

<script src="/UIContent/js/jquery.min.js"></script>
<script src="/UIContent/js/bootstrap/bootstrap.min.js"></script>



<script type="text/javascript" src="/UIContent/js/plugins.js"></script>

<script type="text/javascript" src="/UIContent/js/bootstrap-select/bootstrap-select.js"></script>

<script type="text/javascript" src="/UIContent/js/bootstrap-toggle/bootstrap-toggle.min.js"></script>


</div>

</body>
</html>

<script type="text/javascript">
    $(function() {
        LogVis("Tools/ToolsIndex.cshtml");
    });
</script>


