
@{
    ViewBag.Title = "数据库配置";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="pad margin no-print">
    <div class="callout callout-info" style="margin-bottom: 0!important;">
        <h4><i class="fa fa-database"></i> 数据库配置:</h4>
        自定义配置你所要查询的数据库
    </div>
</div>
<section class="invoice">
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <h5><i class="fa fa-check text-green"></i>自定义配置连接</h5><br />
            <h5><i class="fa fa-check text-green"></i>可视化查询</h5><br />
            <h5><i class="fa fa-check text-green"></i>MS SQL SERVER</h5>
        </div>
        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="currenDbName" class="col-sm-4 control-label form-label">当前数据库</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-server"></i></div>
                            <input type="text" class="form-control" id="currenDbName" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dbServer" class="col-sm-4 control-label form-label">服务器地址</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-server"></i></div>
                            <input type="text" class="form-control" id="dbServer" placeholder="如：127.0.0.1">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dbName" class="col-sm-4 control-label form-label">数据库名称</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-database"></i></div>
                            <input type="text" class="form-control" id="dbName" placeholder="数据库名称">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="dbLoginUser" class="col-sm-4 control-label form-label">登录名</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            <input type="text" class="form-control" id="dbLoginUser" placeholder="数据库登录名">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dbLoginPwd" class="col-sm-4 control-label form-label">密码</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-circle"></i></div>
                            <input type="password" class="form-control" id="dbLoginPwd" placeholder="数据库登录密码">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button" id="btnSave" class="btn btn-success pull-right">
                            <i class="fa fa-save"></i> 保存配置
                        </button>
                        <button type="button" id="btnConectedTest" class="btn btn-primary pull-right" style="margin-right: 5px;">
                            <i class="fa fa-bug"></i> 连接测试
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/ViewScripts/index.js"></script>