
@{
    ViewBag.Title = "数据字典";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="pad margin no-print">
    <div class="callout callout-success" style="margin-bottom: 0!important;">
        <h4><i class="fa fa-info"></i>  欢迎登录数据库查询中心:</h4>
        仅为提高工作效率而写
    </div>
</div>
<section class="invoice">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <div class="form-group">
                    <div class="input-group">
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="tableName" placeholder="请输入要查询的表名">
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="btnQuery" class="btn btn-primary">查询</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 10%;text-align:center;">字段名</th>
                        <th style="width: 10%; text-align: center;">字段类型</th>
                        <th style="width: 10%; text-align: center;">是否为空</th>
                        <th style="width: 10%; text-align: center;">是否主键</th>
                        <th style="width: 10%; text-align: center;">自动增长</th>
                        <th style="width: 10%; text-align: center;">占用字符</th>
                        <th style="width: 10%; text-align: center;">长度</th>
                        <th style="width: 10%; text-align: center;">小数位数</th>
                        <th style="width: 10%; text-align: center;">默认值</th>
                        <th style="width: 10%; text-align: center;">字段描述</th>
                    </tr>
                </thead>
                <tbody id="tbody" style="text-align: center;"></tbody>
            </table>
        </div>
    </div>
</section>
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/ViewScripts/query.js"></script>

